.color{
    background-color: #fceae8;
}
.submit{
    background-color: #fceae8;
    height: 300px;
}
.panda-footer {
    background-color: white;
    border: 0;
}
.panda {
    background-color: white;
    border: 0;
}
